@darkGray: #dedede;
@lightGray: #efefef;

.hello {
  background-color: @lightGray;
  border: 1px solid @darkGray;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}

#divMap{
	width: 75%;
	height: 100%;
	background-color: pink;
	float: left;
}

#divTools{
	width: 25%;
	height: 100%;
	background-color: #99F;
	float: right;
}